.info-container {
    width: 100%;
    height: 50vh;
    background-color: #af9c9c;
    color: black;
    margin-bottom: 100vh;
}

.info {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.infoTrabajar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    padding: 0 100px 0 100px;
}

.infoCertificado {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    padding: 0 100px 0 100px;
}



@media only screen and (max-width: 960px) {
    .info-container {
        height: 200px;
        width: 100%;

    }
    .info > h1 {
        text-align: center;
        font-size: 25px;
    }
}